<h2>Available End Points</h2>

<form action="/content/" method="get"> 

Topic <br/>
<input type="text" name="topic"><br/>

Slug (must be unique within topic)<br/>
<input type="text" name="slug"><br/>

<input type="submit" name="Retrieve Content"><br/>
	
</form>

